h2 {
  text-align: center;
  margin: 40px 0;
}

.orquestra-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 2rem;

  .naipes {
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
      margin: 0;
    }

    ul > li {
      list-style: none;
    }
  }
}

.inicio {
  position: absolute;
  top: 120px;
  left: 20px;
}

@media (min-width: 768px) {
  .orquestra-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
}
