.agenda-container {
  padding: 10px;
}

.inicio {
  display: flex;
}

.lista-agenda {
  ul {
    li {
      margin-bottom: 2rem;
      font-size: 20px;
    }
  }
}

.evento {
  font-weight: 500;
}

.marcado {
  text-decoration: line-through;
  font-style: italic;
}

.observacoes {
  margin: 40px 0 20px 0;
  font-size: 18px;
}
