.videos-container {
  width: 100%;
  margin-top: 20px;

  .videos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 0 20px 0;

    .video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      /* h3 {
        align-self: flex-start;
      } */
    }
  }
}

@media screen and (min-width: 768px) {
  .videos {
    iframe {
      width: 100%;
      max-width: 900px;
      height: 400px;
    }
  }
}
