.botao {
  background-color: #2f4858;
  font-weight: 600;
  padding: 12px;
  text-align: center;

  color: #f2efe9;
  text-decoration: none;
  border-radius: 10px;
  transition: 200ms;
  cursor: pointer;
}

.botao:active {
  background-color: #6ec2fd;
  border-radius: 50px;
  transform: scale(0.9);
  transition: 200ms;
}
