.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 20px;

  a {
    text-decoration: none;
    font-size: 20px;
  }
}

.card {
  color: #f2efe9;
  width: 350px;
  max-width: 300px;
  height: 300px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: no-repeat center center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  background-clip: padding-box;
  text-shadow: 2px 2px 2px black;
}

.card:hover {
  opacity: 0.9;
  box-shadow: 0 0 20px rgba(165, 165, 165, 1);
}

.cantata-card {
  background-image: url(../../assets/natal.png);
}

.orquestra-card {
  background-image: url(../../assets/orquestra-sinfonica.jpg);
}

.agenda-card {
  background-image: url(../../assets/calendario.png);
}

.videos-card {
  background-image: url(../../assets/orquestra-videos.jpg);
}

@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
