.streaming-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  background-color: #c9ccc2;
  border-radius: 10px;

  .streaming-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      width: 200px;
      height: auto;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .streaming-container {
    .streaming-links {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      padding: 10px;
    }
  }
}
